/* Estilização padrão da pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Largura final da pagina */
html{
    height: 200vh;
    background-color: #000000;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilização do header */

header{
    width: 100%;
    padding: 20px 10%;
    background-color: #2e492a;
    /* position: fixed; */
    top: 0px;
    left: 0;
    transition: .5s;
}

/* header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #FE775A;
} */

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

/* Problemas para formataro tamanho da margem, diminui o margin-bottom */
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #b88601;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
    border-radius: 15px 50px 30px;
}

/* Estilização do footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
/* Fim footer */