/* Estilos globais */
body {
    font-family: Nunito, Roboto, Playfair Display, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#logo {
    max-width: 100px;
    height: auto;
    padding: 10px;
}

header {
    background-color: #2e492a;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.contact-button {
    background-color: #FDC435;
    color: #fff;
    padding: 10px 20px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.logo-redonda {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

img {
    width: 100%;
    height: auto;
}

button {
    margin: 10px;
}

.meu-retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #2e492a;
    border: 1px solid #ffffff;
}

.imagem-container {
    flex: 1;
    margin-right: 20px;
}

.imagem-container img {
    max-width: 60%;
    height: auto;
}

.texto-container {
    flex: 1;
    color: #fff;
}

.texto-container h2 {
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.centered-container .content {
    flex: 1;
    margin-right: 20px;
}

.centered-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
    margin: 20px 0;
    color: #000;
}

.yellow-line {
    height: 4px;
    background-color: #FDC435;
    margin: 0 auto 20px;
    width: 80px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.card {
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
    max-width: 48%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #DDD;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.highlight {
    color: #FDC435;
}

.main-footer {
    background-color: #2e492a;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.about-institution, .contact-info, .social-media {
    flex: 1;
    min-width: 200px;
}

.about-institution img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.about-text {
    font-size: 1em;
    line-height: 1.5;
}

.contact-info ul, .social-media ul {
    list-style: none;
    padding: 0;
}

.contact-info li, .social-media li {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    color: #fff;
    font-size: 1.2em;
}
