/* Reset de estilos para zerar margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Definir a fonte padrão */
    font-family: 'Poppins', sans-serif;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Estilos do header */
header {
    background-color: #979494;
    color: #836FFF;
    padding: 20px;
    text-align: center;
}

/* Estilos da navegação */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos dos produtos */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Card dos produtos a venda*/
.product {
    background-color: #fff;
    border: 4px solid #ccc;
    border-radius: 15px 50px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    max-width: 310px;
    padding: 15px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    max-width: 300px; /* Ajuste conforme necessário */
    border-radius: 15px 50px 30px;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    margin: 10px 0;
}

.product .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #2e492a;
    font-size: 25px;
    margin: 10px 0;
}

.product .buy-button {
    background-color: #b88601;
    border-radius: 10px;
    border: none;
    font-family: 'FontAwesome';
    font-size: 15px;
    border-radius: 28px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.product .buy-button:hover {
    background-color: #b9942d;
}

/* Estilos do carrossel */
.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 555px;
    padding: 17px;
    border-radius: 50px 50px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 10px;
}


/* Estilos do link do WhatsApp */
.whatsapp-link {
    background-color: #25D366;
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    display: flex;
    font-size: 2em;
    height: 60px;
    justify-content: center;
    position: fixed;
    right: 20px;
    width: 60px;
    z-index: 1000;
    text-decoration: none;
}

.whatsapp-link:hover{
    text-decoration: none;
    color: #6bd491;
}

.fa-whatsapp {
    margin-top: 16px;
}
